<section ng-controller="HomeController">


    <div class="row shop-list">
      <div class="col-md-4 col-sm-6 item">
        <a href="">
          <img src="http://lorempixel.com/200/200/city/1/" alt="">
          <span class="text">เสื้อผ้า</span>
        </a>
      </div>
      <!-- /.col-md-4 col-sm-6 item -->
      <div class="col-md-4 col-sm-6 item">
        <a href="">
          <img src="http://lorempixel.com/200/200/city/1/" alt="">
          <span class="text">เสื้อผ้า</span>
        </a>
      </div>
      <!-- /.col-md-4 col-sm-6 item -->
      <div class="col-md-4 col-sm-6 item">
        <a href="">
          <img src="http://lorempixel.com/200/200/city/1/" alt="">
          <span class="text">เสื้อผ้า</span>
        </a>
      </div>
      <!-- /.col-md-4 col-sm-6 item -->
      <div class="col-md-4 col-sm-6 item">
        <a href="">
          <img src="http://lorempixel.com/200/200/city/1/" alt="">
          <span class="text">เสื้อผ้า</span>
        </a>
      </div>
      <!-- /.col-md-4 col-sm-6 item -->
    </div>
    <!-- /.row shop-list -->

    
</section>
