<section ng-controller="ShopsController" ng-init="find()">

    <h1 class="page-title">
      <span>{{page_name}} ({{categoryLength.length}})</span>
    </h1>
    <div class="row insta-list shop-list" infinite-scroll="myShops.more()" infinite-scroll-disabled="myShops.busy" infinite-scroll-distance="1">
      <div ng-repeat="shop in myShops.items" class="col-md-4 col-xs-6 item">
        <a href="http://instagram.com/{{shop.username}}" target="_blank">
          <img preload-img fallback-img="/modules/core/client/img/placeholder.jpg" ng-src="http://128.199.169.81:8080/img/{{shop._id}}" alt="{{shop.username}}">
          <span class="text2"> {{shop.username}} ({{shop.counts.followed_by}})</span>
          <span class="hover">
            <span class="vertical-center" ng-bind="shop.full_name"></span>
          </span>
        </a>
      </div>
      <!-- /.col-md-4 col-xs-6 item -->
    </div>
    <!-- /.row shop-list -->

  <div class="text-center" ng-if='myShops.busy'>
    <h3>กรุณารอสักครู่...</h3>
  </div>
  <div class="text-center" ng-if="shops.$resolved && !shops.length">
    <h3>ยังไม่มีร้านค้าในหมวดนี้</h3>
  </div>
</section>
