/* FONTS */
@font-face {
  font-family: 'Thai Sans Neue';
  src: url('../fonts/thaisansneue-bold.eot');
  src: url('../fonts/thaisansneue-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisansneue-bold.woff2') format('woff2'), url('../fonts/thaisansneue-bold.woff') format('woff'), url('../fonts/thaisansneue-bold.ttf') format('truetype'), url('../fonts/thaisansneue-bold.svg#thaisans_neuebold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Thai Sans Neue';
  src: url('../fonts/thaisansneue-regular-webfont.eot');
  src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisansneue-regular-webfont.woff2') format('woff2'), url('../fonts/thaisansneue-regular-webfont.woff') format('woff'), url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype'), url('../fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thai Sans Neue';
  src: url('../fonts/thaisansneue-semibold.eot');
  src: url('../fonts/thaisansneue-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisansneue-semibold.woff2') format('woff2'), url('../fonts/thaisansneue-semibold.woff') format('woff'), url('../fonts/thaisansneue-semibold.ttf') format('truetype'), url('../fonts/thaisansneue-semibold.svg#thaisans_neuesemi_bold') format('svg');
  font-weight: 500;
  font-style: normal;
}
.bgeffect {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.noeffect {
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -ms-transition: all 0 ease;
  -o-transition: all 0 ease;
  transition: all 0 ease;
}
.effect {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.source {
  font-family: 'Source Sans Pro', sans-serif;
}
.coloreffect {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
body {
  font-size: 100%;
  font-family: 'Thai Sans Neue';
}
a {
  color: #505050;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover {
  color: #f26460;
  text-decoration: none;
}
.clear {
  display: block;
  content: '';
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.container {
  max-width: 850px;
}
body {
  background-color: #fafafa;
  font-size: 100%;
}
/*--  --*/
.topbar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  text-align: center;
}
.topbar .logo {
  height: 35px;
  width: auto;
  display: inline-block;
  margin: 10px 0;
}
.topbar .tagline {
  font-family: 'Open Sans', sans-serif;
  color: #aaa;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*--  --*/
.content-wrapper {
  margin: 20px 0;
}
.insta-list .item {
  padding-bottom: 15px;
  padding-top: 15px;
}
.insta-list .item a {
  display: block;
  position: relative;
}
.insta-list .item img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.insta-list .item .text,
.insta-list .item .text2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  color: #fff;
  font-size: 2.2em;
  padding: 3px 15px;
}
.insta-list .item .text2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  padding: 8px 15px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.insta-list .item .hover {
  display: none;
  font-size: 2.2em;
  color: #555;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.insta-list .item .vertical-center {
  position: relative;
  top: -15px;
  display: table-cell;
  vertical-align: middle;
}
.insta-list .item a:hover img {
  opacity: 0.8;
}
.insta-list .item a:hover .hover {
  display: table;
}
.shop-list .item a:hover img {
  opacity: 0.2;
}
.page-title {
  text-align: center;
}
.page-title span {
  display: inline-block;
  background-color: #4E9CBD;
  color: #fff;
  padding: 8px 40px;
  margin-bottom: 15px;
  border-radius: 50px 50px 50px 50px;
}
/*--  --*/
/*--  --*/
/*--  --*/
/*--  --*/
/*--  --*/
/*---------------- SMALL DESKTOP ----------------*/
/*---------------- TABLET & MOBILE ----------------*/
/*---------------- TABLET & ABOVE ----------------*/
/*---------------- TABLET ----------------*/
/*---------------- MOBILE ----------------*/
/*---------------- SMALL MOBILE ----------------*/
@media (max-width: 550px) {
  .insta-list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .insta-list > div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .insta-list .item {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
/*---------------- SMALL MOBILE ----------------*/
/*--  --*/
/*--  --*/
/*--  --*/
/*--  --*/
/*--  --*/
/*--  --*/
